html {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
    }

    h2, h5 {
        text-align: center;
        color: #3eb1c8;
    }

    @page {
        size: auto;
        margin: 2mm;
    }

    bingo-grid {
        display: flex;
        flex-flow: row wrap;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px;
        margin: auto;
    }

    bingo-tile {
        display: flex;
        width: 164px;
        height: 96px;
        margin: 16px;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px;
    }

    .bingo-text {
        margin: auto;
        text-align: center;
        break-word: all;
        user-select: none;
        padding: 8px;
    }

    .checked {
        background-color: #3eb1c8;
        color: #ffffff;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
    }

    /* try to look readable and conserve some ink! */
    @media print {
        .checked {
            color: #000;
            background-color: #fff;
            border: 2px solid #000;
        }

        bingo-tile {
            border: none;
            box-shadow: none;
        }

        bingo-grid {
            border: none;
            box-shadow: none;
        }
    }

    player-name {
        margin: auto;
        display: block;
        margin-top: 32px;
        text-align: center;
        cursor: pointer;
    }
